<!-- shop.ejs -->

<main class="main">
    <section class="mt-50 mb-50">
        <div class="container">
            <div class="row flex-row-reverse">
                <div class="">
                    <!-- Search Form -->
                    
                         

                          

                    <!-- Filter Options -->
                    
                    <div class="row product-grid-3">
                     <% products.productList.forEach(function(product, index) { %>

                            <!-- Product Item -->
                            <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                                <div class="product-cart-wrap mb-30">
                                    <!-- Product Image -->
                                    <div class="product-img-action-wrap">
                                        <div class="product-img product-img-zoom">
                                            <a href="/zoomView/<%= product._id %>">
                                                <img class="default-img" src="/uploads/<%= product.Image[0] %>" alt="">
                                            </a>
                                        </div>
                                        <!-- Product Actions -->
                                        <div class="product-action-1">
                                            <a aria-label="Quick view" class="action-btn hover-up" data-bs-toggle="modal" data-bs-target="#quickViewModal">
                                                <i class="fi-rs-search"></i>
                                            </a>
                                            <a aria-label="Add To Wishlist" class="action-btn hover-up" href="shop-wishlist.html">
                                                <i class="fi-rs-heart"></i>
                                            </a>
                                            <a aria-label="Compare" class="action-btn hover-up" href="shop-compare.html">
                                                <i class="fi-rs-shuffle"></i>
                                            </a>
                                        </div>
                                        <!-- Product Badges -->
                                        <div class="product-badges product-badges-position product-badges-mrg">

                                        </div>
                                    </div>
                                    <!-- Product Content -->
                                    <div class="product-content-wrap">
                                        <div class="product-category">
                                            <a><%= product.category %></a>
                                        </div>
                                        <h2><a href="/zoomView/<%= product._id %>"><%= product.Productname %></a></h2>
                                        <div class="rating-result" title="90%">
                                            <span>
                                                <span>95%</span>
                                            </span>
                                        </div>
                                        <div class="product-price">
                                            <% if (product.hasDiscount) { %>
                                                <span class="old-price">Rs.<%= product.Price %></span>
                                                <span class="new-price">Rs.<%= product.discountedPrice %></span>
                                            <% } else { %>
                                                <span>Rs.<%= product.Price %></span>
                                            <% } %>
                                        </div>
                                        <div class="product-action-1 show">
                                            <a aria-label="Add To Cart" class="action-btn hover-up" onclick="addToCart('<%= product._id %>')">
                                                <i class="fi-rs-shopping-bag-add"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% }) %>
                    </div>

                    <!-- Pagination -->
                    <% if (currentPage > 1) { %>
                        <a href="/shop?page=<%= currentPage - 1 %>">Previous</a>
                    <% } %>

                    <% for (let i = 1; i <= totalPages; i++) { %>
                        <% if (i === currentPage) { %>
                            <span><%= i %></span>
                        <% } else { %>
                            <a href="/shop?page=<%= i %>"><%= i %></a>
                        <% } %>
                    <% } %>

                    <% if (currentPage < totalPages) { %>
                        <a href="/shop?page=<%= currentPage + 1 %>">Next</a>
                    <% } %>
                </div>

          
 <div class="mobile-header-active mobile-header-wrapper-style">
    <div class="mobile-header-wrapper-inner">
      <div class="mobile-header-top">
        <div class="mobile-header-lo" style="height: 50px; width: 50px;">
          <a href="index.html"><img style="height: 50px; width: 50px;" src="/assets/imgs/theme/logo.png"
              alt="logo"
              /></a>
        </div>
        <div
          class="mobile-menu-close close-style-wrap
          close-style-position-inherit">
          <button class="close-style search-close">
            <i class="icon-top"></i>
            <i class="icon-bottom"></i>
          </button>
        </div>
      </div>
      <div class="mobile-header-content-area">
        <div class="mobile-search search-style-3 mobile-header-border">
                              <form action="/shop" method="GET" class="search-form mb-30">
                        <input type="text" name="search" placeholder="Search products..." value="<%=locals.searchQuery %>">
                        <button type="submit" class="search-btn"><i class="fi-rs-search"></i></button>
                    </form>
        </div>
        <div class="mobile-menu-wrap mobile-header-border">
          <div class="main-categori-wrap mobile-header-border">
            <a class="categori-button-active-2" href="#">
              <span class="fi-rs-apps"></span> Browse Categories
            </a>
            <div class="categori-dropdown-wrap categori-dropdown-active-small">
              <ul class="categories">
                            <% cat.forEach(function(cat, index) { %>
                                <li>
                                    <a href="/category/<%= cat._id %>"><%= cat.CategoryName %></a>
                                </li>
                            <% }) %>
                        </ul>
            </div>
          </div> 
          <!-- mobile menu start -->
          <nav>
            <ul class="mobile-menu">
              <li class="menu-item-has-children">
                <span class="menu-expand"></span><a href="/">Home</a>
              </li>
              <li class="menu-item-has-children">
                <span class="menu-expand"></span><a href="/shop">Shop</a>
              </li>
              <li class="menu-item-has-children">
                <span class="menu-expand"></span><a href="/cart">Cart</a>
              </li>
              <li class="menu-item-has-children">
                <span class="menu-expand"></span><a href="/order-page">Orders</a>
              </li>




              <li class="menu-item-has-children">
                <span class="menu-expand"></span><a href="#">Language</a>
                <ul class="dropdown">
                  <li><a href="#">English</a></li>
                  <li><a href="#">French</a></li>
                  <li><a href="#">German</a></li>
                  <li><a href="#">Spanish</a></li>
                </ul>
              </li>
            </ul>
          </nav>
          <!-- mobile menu end -->
        </div>
        <div class="mobile-header-info-wrap mobile-header-border">
          <div class="single-mobile-header-info mt-30">
            <a href="#"> Our location </a>
          </div>
          <div class="single-mobile-header-info">
            <a href="/login">Log In/Sign Up</a>
          </div>
          <div class="single-mobile-header-info">
            <a href="#">(+01) - 2345 - 6789 </a>
          </div>
        </div>
        <div class="mobile-social-icon">
          <h5 class="mb-15 text-grey-4">Follow Us</h5>
          <a href="#"><img src="/assets/imgs/theme/icons/icon-facebook.svg"
              alt=""
              /></a>
          <a href="#"><img src="/assets/imgs/theme/icons/icon-twitter.svg" alt=""
              /></a>
          <a href="#"><img src="/assets/imgs/theme/icons/icon-instagram.svg"
              alt=""
              /></a>
          <a href="#"><img src="/assets/imgs/theme/icons/icon-pinterest.svg"
              alt=""
              /></a>
          <a href="#"><img src="/assets/imgs/theme/icons/icon-youtube.svg" alt=""
              /></a>
        </div>
      </div>
    </div>
  </div>
        </div>
    </section>
</main>
